body{
    transition: 0.5s;
}

.header{
    justify-content: space-around;
    background-color: #1aada1d5;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    padding-right: 20px;
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: -5px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    filter: grayscale(20%),brightness(0.9);
    z-index: 99
}

.header:hover {
    opacity: 1;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.5);
    filter: grayscale(0%), brightness(1);
}

#logo{
    height: auto;
    max-height: 5.1em; 
    width: auto; 
    transition: 0.2s;
    left: 0;
}

#logo:hover{
    background-color: #12756d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#logoHref{
    width: 7em;
}

.headerText, .headerLink{
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em;
    transition: 0.2s;
}

.headerText:hover{ 
    background-color: #12756d;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.headerLink{
    text-decoration: none;
    color: inherit;
}

#MILFDiv:hover::after{ 
    content: "Man I Love Fans";
}

#MILFDiv::after{
    content: "M.I.L.F.";
}

#MILFText{
    margin-top: -1em;
}

#searchLogo{
    height: 1em;
    width: auto;
}

#loginLogo{
    height: 1em;
    width: auto;
}

#MainHeading{
    text-align: center;
    font-size: 100px;
    margin-top: 0.8em;
}

.mainText{
    display: flex;
    justify-content: left;
    filter: brightness(0.90);
    transition: 0.3s;
}

.mainText:hover{ 
    filter: brightness(1);
}

.fanContent, .premiumFanContent {
    margin-top: 1em;
    display: flex;
    position: relative;
    text-align: center;
}

.fanImage{
    width:140%;
    min-width: 40%;
    height: 500px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(0.90);
    transition: 0.2s;
}

.fanImage:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(204, 204, 204);
    filter: brightness(1);
}

.fanDetail{
    margin-left: 40%
}

.mainTextH1{
    font-size: 80px;
    text-align: center;
    text-decoration: underline transparent;
    transition: 0.5s ease;
}

.mainTextH1:hover{
    text-decoration: underline;
}

.mainTextFanType{    
    text-align: left;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline transparent dotted;
    transition: 0.5s ease;
}

.mainTextFanType:hover{
    text-decoration: underline dotted;
}

.mainTextFanInfo{
    text-align: center;
    margin-left: 50px;
}


#Deformed{
    color: red;
}

#Premium{
    color: gold;
}

#Standard{
    color: rgb(86, 86, 86);
}

.premiumFanContainer {
    display: flex;          /* Enable flexbox */
    flex-wrap: wrap;        /* Allow wrapping to the next row */
    justify-content: center ; /* Align items to the left */
    gap: 20px;             /* Add spacing between items */
    margin: 1em;           /* Optional: add margin around the container */
}

.premiumFanContent{
    height: 350px;
    width: 400px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1aada1;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    filter: brightness(0.90);
    transition: 0.5s;
}

.premiumFanContent:hover{
    background-color: #86e0d9;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    filter: brightness(1);
}

.premiumFanContent:hover, .PremiumFanImageMain{
    opacity: 90%;
}

.PremiumFanHeader, .PremiumFanType, .PremiumFanText, .PremiumFanImage{
    z-index: 1;
    position: absolute;
}

.PremiumFanHeader{
    font-size: 30px;
    text-decoration: underline;
    margin-top: 10px;
}

.PremiumFanType{
    font-size: 20px;
    text-decoration: underline dotted;
    margin-top: 90px;
    margin-left: 200px;
}

.PremiumFanText{
    font-size: 17px;
    margin-top: 160px;
}

.PremiumFanImage{
    border-style: solid;
    height: 100px;
    width: auto;
    max-width: 120px;
    min-width: 80px;
    margin-left: -170px;
    margin-top: 45px;
}   

.PremiumFanImageMain{
    z-index: 99;
    width:500px;
    height: 400px;
    opacity: 0%;
    transition: 0.5s;
    vertical-align: middle
}

.PremiumFanImageMain:hover{    
    animation: spin 5s linear infinite;
    opacity: 20%;
}

.PremiumFanImageMain:hover::after{
    animation-play-state: paused
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#premiumLink{
    color: inherit;
    text-decoration: inherit;
}

#fanServiceMain{
    margin-top: 100px;
}

#plusButton{
    border-width: 0px;
    border-radius: 2000px;
    background-color: white;
    transition: 0.5s ease-in;
    cursor: pointer;

}

#plusButton:hover{
    border-style: solid;
    border-color: black;
    border-radius: 2000px;
    border-width: 10px;
}


.plusChangeColorAnimate{
    cursor: nones;
    animation: plusChangeColor 4s linear;
}

@keyframes plusChangeColor{
    0%{
        background-color: white;
        filter: invert(0);
        transform: rotate(0deg);
    }

    25%{
        filter: invert(1);
    }

    50%{
        background-color: #ED8A92;
        transform: rotate(180deg);
    }

    75%{
        opacity: 100%;
    }

    100%{
        background-color: #ED8A92;
        filter: invert(1);
        transform: rotate(360deg);
        opacity: 0%;
    }
}

#serviceButtonOptions{
    display: none;
    flex-direction: column;  /* Stack the children vertically */
    gap: 40px;               /* Add space between the elements */
    align-items: flex-start; /* Align the items to the left */
}

.inputFields{
    background-color: #1aada1d5;
    border-radius: 4px;
    border-style: solid;
    height: 40px;
    border-color: black;
    font-size: 40px;
    transition: 0.5s;
    cursor: pointer;

}
#nameField{
    width: 200px;
}

#smallInfoField{
    width: 400px;
}

#infoField{
    width: 600px;
}

#typeInput{
    height: 50px;
}   

#imageInput {
    display: none;
}

#imageInputLabel {
    display: inline-block;
    background-color: #1aada1;
    color: black;
    cursor: pointer;
}

#imageInputLabel:hover, #typeInput:hover, .inputFields:hover, #enterButton:hover, #linkFeild:hover{
    background-color: #86e0d9;
}   

#imagePreview{
    background-color: #12756d;
    border-color: black;
    border-style: solid;
    height: 200px;
    width: 200px;
}

#enterButton, #enterButtonDarkMode, #enterLightTextMode{
    height: 100px;
    width: 400px;
}